@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .card {
    @apply bg-white rounded-xl shadow-sm;
  }

  .text-primary-color {
    @apply text-primary;
  }

  .text-secondary-color {
    @apply text-gray-600;
  }

  .text-tertiary-color {
    @apply text-gray-500;
  }

  .bg-primary {
    @apply bg-primary-DEFAULT;
  }

  .hover\:bg-primary-hover:hover {
    @apply bg-primary-hover;
  }
}

